body
{
    text-align: center;
}

.fighterPresentation {
    width: 50%;
    margin: 0 auto;
}

.fightRound {
    width: 25%;
    margin: 0 auto;
}

.divTable {
    display: table;
    width: 100%;
    border: 1px solid #000;

}

.divTableBody {
    display: table-row-group;
}


.divTableRow {
    display: table-row;
}

.divTableCell {
    border: 1px solid #000;
    display: table-cell;
    padding: 3px 10px;
}

