body
{
    text-align: center;
}

.fighterPresentation {
    width: 50%;
    margin: 0 auto;
}

.fightStart{
    width: 33%;
    background-color: red;
    color: white;
    display: inline-block;
    margin: 25px 0px;
}

.fightRound {
    width: 25%;
    margin: 0 auto 25px;
}

.fightWinner {
    width: 50%;
    background-color: deepskyblue;
    color: white;
    display: inline-block;
}

.divTable {
    display: table;
    width: 100%;
    border: 1px solid #000;

}

.divTableBody {
    display: table-row-group;
}


.divTableRow {
    display: table-row;
}

.divTableCell {
    border: 1px solid #000;
    display: table-cell;
    padding: 3px 10px;
}

